.home {
    background-image: url('https://www.letelegramme.fr/ar/imgproxy.php/images/2019/07/04/le-dompteur-et-ses-lionnes-evoluent-avec-grace-et-calme-dans_4670674.jpg?article=12330101&aaaammjj=12330101');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Emilys Candy', cursive;
    font-size: large;
    color: wheat;
}